h1,
h2,
h3,
h4,
h5,
h6 {
    @include header-font-style($font-head);
    color: $color-1;
    text-shadow: 4px 1px 1px $color-2;
}

h3 {
    border-bottom: 7px outset lighten($color-3, 20%);
    padding: 0;
}

p {
    @include header-font-style($font-para);
    color: $color-5;
    padding: $pad-hf;
}

header,
.summary {
    text-align: $align-cen;
    padding: $pad-1w;
    padding-top: 0;
}

header {
    font-size: $font-2w;
}

h3 {
    font-size: $font-1qr;
    font-weight: bolder;
    font-style: italic;
    padding: $pad-hf;
}

body {
    background-color: $color-4;
}

a {
    color: $color-1;
}

[title ^="Check the validity of this site&#8217;s HTML"]:after {
    background-color: white;
}

footer a:nth-of-type(1) {
    background-image: url(https://cdn.glitch.com/ba0615c2-9d9b-4d39-bde6-ff27665ccd56%2FheadYoda.svg?v=1584585877583);
    background-position: 100% 10%;
    background-repeat: no-repeat;
}

footer a:nth-of-type(2) {
    background-image: url(https://cdn.glitch.com/ba0615c2-9d9b-4d39-bde6-ff27665ccd56%2FheadYoda.svg?v=1584585877583);
    background-position: 100% 10%;
    background-repeat: no-repeat;
}

footer a {
    background-image: url(https://cdn.glitch.com/ba0615c2-9d9b-4d39-bde6-ff27665ccd56%2FheadYoda.svg?v=1584585877583);
    background-position: 100% 10%;
    background-repeat: no-repeat;
}