//base styles
header {
    font-size: $font-3w;
}

h3 {
    font-size: $font-1hqr;
    padding: 0;
    margin: $font-hqr;
    margin-left: 0;
}

//page grid
.page-wrapper {
    @include gd-rows(50vh auto);
    //Placeholders for buttons
    background-image: url(../img/plc-holders/300x100.png), url(../img/plc-holders/300x100.png);
}

//intro
.preamble {
    @include gd-rows(15vh auto);
    grid-template-areas: ". . . ." ". pre-header pre-p-2 ." ". pre-p-1 pre-p-3 .";
    h3 {
        align-self: $align-cen;
    }
    p:nth-of-type(1) {
        text-align: $align-l;
    }
}

//main grid
.main {
    grid-template-areas: "explanation explanation explanation" "participation benefits benefits" "participation benefits benefits" "requirements requirements requirements" "ffoot ffoot ffoot";
}

//main explanation grid
.explanation {
    @include gd-rows($gd-rows);
    grid-template-areas: ". . . ."". exp-header . ." ". exp-p-1 . ." ". exp-p-2 . .";
    background-position: right;
    h3 {
        text-align: $align-l;
        align-self: $align-cen;
    }
    p {
        text-align: $align-l;
    }
    p:nth-of-type(2) {
        text-align: $align-l;
    }
}

//main participation grid
.participation {
    @include gd-columns(.1fr 1fr);
    @include gd-rows($gd-rows);
    grid-template-areas: ". ." ". par-header" ". par-p-1" ". par-p-2 " ". par-p-3";
    p {
        text-align: $align-l;
    }
}

//main benefits grid
.benefits {
    @include gd-columns(1fr .1fr);
    @include gd-rows(20vh 10vh auto);
    grid-template-areas: ". ." ". ." "ben-header ." ". ." "ben-p-1 .";
    background-position: top left;
    p {
        text-align: $align-r;
        padding: $pad-2w;
        padding-right: 10px;
    }
}

//main requirements grid
.requirements {
    @include gd-rows(20vh 75px auto);
    grid-template-areas: ". . . ."". req-header req-header ." ". req-p-1 req-p-1 ." ". req-p-2 req-p-2 ." ". req-p-3 req-p-3 ." ". req-p-4 req-p-4 ."". req-p-5 req-p-5 .";
    p:nth-of-type(4) {
        text-align: $align-l;
    }
}

//main footer flex
footer {
    grid-area: ffoot;
    @include flex-container(row);
    justify-content: space-evenly;
    align-items: $align-cen;
    padding: 0;
    width: 100%;
    a {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 200px;
        height: 75px;
    }
}

//side-bar "bottom"