.page-wrapper {
  background-color: #272727;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.4fr 1.7fr 0.1fr 1.9fr 0.4fr;
      grid-template-columns: 0.4fr 1.7fr 0.1fr 1.9fr 0.4fr;
      grid-template-areas: ". intro intro intro ." ". main main main ." ". end end end .";
  /* template for our page
    grid-template-columns: 0.4fr 1.7fr 0.1fr 1.9fr 0.4fr;
    grid-template-rows: 0.3fr 0.7fr 0.7fr 1.8fr 1fr 0.6fr 0.9fr 0.4fr 1.4fr 0.4fr 0.5fr 0.5fr 0.6fr 1.4fr;
    grid-template-areas: 
    ". buttons buttons buttons ." 
    ". banner banner banner ." 
    ". summary summary summary ." 
    ". preamble . preamble ." 
    ". explanation . img ." 
    ". participation . benefits ." 
    ". participation . benefits ." 
    ". space space space ." 
    ". requirements requirements requirements ." 
    ". footer-flex ."
    ". bot-bar bot-bar bot-bar ." 
    ". bot-bar bot-bar bot-bar ." 
    ". bot-bar bot-bar bot-bar ." 
    ". space space space ."
    */
}

/*
". buttons buttons buttons ." 
*/
/* Template
    ". buttons buttons buttons ." 
    ". banner banner banner ." 
    ". summary summary summary ." 
    ". preamble . preamble ."
*/
.intro {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-area: intro;
  -ms-grid-columns: .2fr 1fr .1fr 1fr .2fr;
      grid-template-columns: .2fr 1fr .1fr 1fr .2fr;
  -ms-grid-rows: .2fr 1fr .5fr .5fr .7fr;
      grid-template-rows: .2fr 1fr .5fr .5fr .7fr;
      grid-template-areas: ". buttons buttons buttons ."  ". banner banner banner ."  ". summary summary summary ."  ". preamble . preamble .";
}

header {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-area: banner;
}

.summary {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-area: summary;
}

.preamble {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-area: preamble;
}

/* Template 
    ". explanation . img ." 
    ". participation . benefits ." 
    ". participation . benefits ." 
    ". space space space ." 
    ". requirements requirements requirements ." 
    ". footer-flex ."
*/
.main {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-area: main;
  -ms-grid-columns: .5fr 1fr .1fr 1fr .2fr;
      grid-template-columns: .5fr 1fr .1fr 1fr .2fr;
  -ms-grid-rows: .5fr 1fr .5fr .5fr .7fr .4fr;
      grid-template-rows: .5fr 1fr .5fr .5fr .7fr .4fr;
      grid-template-areas: ". explanation . img ."  ". participation . benefits ."  ". participation . benefits ."  ". . . . ."  ". requirements requirements requirements ."  ". footer_flex .";
}

.explanation {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: explanation;
}

.participation {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: participation;
}

.benefits {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 4;
  grid-area: benefits;
}

.requirements {
  -ms-grid-row: 5;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-area: requirements;
}

footer {
  -ms-grid-row: 6;
  -ms-grid-column: 2;
  grid-area: footer_flex;
}

/* Template
". bot-bar bot-bar bot-bar ." 
    ". bot-bar bot-bar bot-bar ." 
    ". bot-bar bot-bar bot-bar ." 
    ". space space space ."
*/
.sidebar .wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-area: end;
  -ms-grid-columns: .5fr 1fr .1fr 1fr .2fr;
      grid-template-columns: .5fr 1fr .1fr 1fr .2fr;
  -ms-grid-rows: .5fr 1fr .5fr .5fr;
      grid-template-rows: .5fr 1fr .5fr .5fr;
      grid-template-areas: ". ds ds ds ."  ". da da da ."  ". zr zr zr ."  ". . . . .";
}

.design-selection {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-area: ds;
}

.design-archives {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-area: da;
}

.zen-resources {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-area: zr;
}

h1, h2, h3, h4, h5, h6, p {
  color: #EAF0CE;
}

header, .summary {
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .preamble {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: .4fr 1fr 1fr .4fr;
        grid-template-columns: .4fr 1fr 1fr .4fr;
        grid-template-areas: ". .      pre-p-1" ". pre-header pre-p-2" ". .          pre-p-3";
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .preamble h3 {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: pre-header;
  }
  .preamble p:nth-of-type(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: pre-p-1;
  }
  .preamble p:nth-of-type(2) {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
    grid-area: pre-p-2;
  }
  .preamble p:nth-of-type(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
    grid-area: pre-p-3;
  }
}
/*# sourceMappingURL=style.css.map */