//To-DO LIST:
//
//
//add in button section                        CHECK -just imgs atm
//                                
//implement mixin for IE:grid compatibility
//

/*
Todo:

--Style
Style boxes? sheer lining framing the words (opacity) 
Background – hyperspeed:onscroll (Ship zooming to planet in footer essentially)

Possibility: Light Side effects/changing
		-Rebel logo
		-lightsabers change
		-babyyoda/yoda
		-large ship rebel
Colors
Text


Animate/onhover pictures/headers

auto-scroll footer - animates over seconds (keyframes)
footer - deathstar with on hover glowing green to fire

--Travis: Pictures
	Light-side: BB8, or xwing, 
	Svgs
	pictures

Lightsaber heading- light up on heading
Background
Hyperspeed – on scroll

TODO: EXTRAS

Footer - 
Display Heads inbetween <a> tags
Light Saber light up power down
    -border- power up.down?
*/

//
//
@import url('https://fonts.googleapis.com/css?family=Galada|Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');
@import "reset";
@import "variables";
@import "mixins";
@import "base-styles";
@import "small";
@media only screen and (min-width: 60em) {
    @import "large";
}